/BookStoreApplication/nbproject/private/
/BookStoreApplication/build/
BookStoreApplication/nbproject/private/private.properties
/BookStoreApplication/dist/
BookStoreApplication/nbproject/private/private.xml
BookStoreApplication/nbproject/private/private.xml
